.colPickHex {
    display: block;
}

.colPickDisplay {
    display: block;
}

.leftPaneControls {
    width: 270px;
}

.hexInputContainer {
    width: 70%;
    display: inline-block;
    height: 100%;
} 
.colorDispContainer {
    width: 30%;
    display: inline-block;
} 