.colPickHex {
    display: block;
}

.colPickDisplay {
    display: block;
}

.leftPaneControls {
    width: 270px;
    display: inline-block;
}
.rightPaneControls {
    width: 270px;
    display: inline-block;
}

.hexInputContainer {
    width: 60%;
    display: inline-block;
    height: 100%;
} 
.colorDispContainer {
    width: 40%;
    display: inline-block;
} 